extends ../../partials/html.pug

block title
    +title("Message Received")

block meta
    meta(name="description", content="View your message")

block body
    section.message-container
        h1.message-header Message Details
        h4.message-detail-label To email: #{data.email}
        h4.message-detail-label To Phone: #{data.phone_number}
        p.message-body #{data.message}

